@if(item()) {
<div class="bg-white rounded-[0.875rem] p-6 flex flex-col gap-3">
  <div class="flex items-center justify-between">
    <div class="flex flex-col">
      <h3 class="text-gray-700">{{ item()!.title }}</h3>
      <span class="text-sm text-gray-500"> {{ item()!.user.firstName }} </span>
    </div>

    <button mat-icon-button class="custom-icon-button" (click)="toggleOpenBtn()">
      <mat-icon class="transition-all" [class.rotate-180]="isOpened()">
        keyboard_arrow_down
      </mat-icon>
    </button>
  </div>
  <div class="max-h-[400px] overflow-y-auto">
    <p
      class="text-sm text-gray-700 gilroy-medium transition-all"
      [class.truncate]="!isOpened()">
      {{ item()!.description }}
    </p>
  </div>
  @if(isOpened()) {
  <div class="flex justify-end items-center gap-3 overflow-hidden">
    @if(canReact()) {
    <button
      (click)="onSave.emit(item()!.id)"
      matRipple
      class="rounded-icon-button"
      [class.reaction-active]="item()!.isSaved">
      <mat-icon class="!w-6 !h-6" svgIcon="save"></mat-icon>
    </button>

    <button mat-button class="primary-icon-button !bg-gray-100 reaction-active">
      <span class="flex items-center gap-2">
        10 K
        <mat-icon class="!w-6 !h-6" svgIcon="dislike"></mat-icon>
      </span>
    </button>

    <button mat-button class="primary-icon-button !bg-gray-100 like-button">
      <span class="flex items-center gap-2">
        10 K
        <mat-icon class="!w-6 !h-6" svgIcon="dislike"></mat-icon>
      </span>
    </button>
    } @if(canRemove()) {
    <button mat-button class="primary-icon-button !bg-gray-100">
      <span class="flex items-center gap-2 text-red-500">
        Delete
        <mat-icon class="!w-6 !h-6" svgIcon="trash"></mat-icon>
      </span>
    </button>
    }
  </div>
  }
</div>
}
