@use '@angular/material' as mat;

:root {
  --mdc-filled-text-field-container-color: rgb(
    242 244 247 / var(--tw-bg-opacity, 1)
  ) !important;
  
  .custom-icon-button {
    @apply bg-gray-100 rounded-md hover:bg-gray-200 w-12;

    @include mat.icon-button-overrides(
      (
        hover-state-layer-opacity: 0,
        focus-state-layer-opacity: 0,
        pressed-state-layer-opacity: 0,
      )
    );
  }
}

.primary-button {
  border: 1px solid #e4e7ec !important;
  color: #1d2939 !important;
  padding: 0.75rem 1.5rem !important;
  border-radius: 0.5rem !important;
}

.primary-icon-button {
  color: #1d2939 !important;
  padding: 0.75rem 1rem !important;
  border-radius: 0.5rem !important;
}
