@use '@angular/material' as mat;

// :root {
    // @include mat.tabs-overrides((
    //   active-indicator-color: orange,
    //   divider-color: red,
    // ));
//   }

.primary-button {
  border: 1px solid #e4e7ec !important;
  color: #1d2939 !important;
  padding: 0.75rem 1.5rem !important;
  border-radius: 0.5rem !important;
}
