<div class="flex flex-col">
  <div
    #inputContainer
    (click)="input.focus()"
    class="bg-gray-50 flex items-center gap-2 cursor-pointer rounded-lg py-2.5 px-3.5 border border-[#D0D5DD] border-solid"
  >
    @if(icon()) {
    <mat-icon [svgIcon]="icon()" class="!min-w-6 text-[#667085]" />
    }

    <input
      #input
      [value]="innerValue"
      (input)="onInputChange(input.value)"
      [disabled]="isDisabled"
      [type]="
        !isPasswordHidden()
          ? type()
          : type() === inputTypes.Password
          ? inputTypes.Text
          : type()
      "
      (blur)="onBlur()"
      [placeholder]="placeholder()"
      (focus)="onFocus()"
      class="bg-transparent w-full focus:outline-none"
    />

    @if(type() === inputTypes.Password) {
    <button
      type="button"
      class="h-6 relative text-gray-500"
      (click)="onPasswordToggle()"
    >
      <mat-icon [svgIcon]="!isPasswordHidden() ? 'eye-open' : 'eye-close'" />
    </button>
    }
  </div>
  @if(error()) {
  <span class="text-red-500 text-sm self-end px-2 py-1">{{ error() }}</span>
  }
</div>
