/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// TODO: Fix fonts
@font-face {
  font-family: GilroySemibold !important;
  src: url("../public/fonts/gilroy-semibold.ttf");
}

html,
body {
  height: 100%;
  font-family: GilroySemibold !important;
}
body {
  margin: 0;
}

.primary-button {
  border: 1px solid #e4e7ec !important;
  @apply text-primary py-3 px-6 rounded-lg #{!important};
}
