.input-container {
  @apply flex items-center justify-center 
    rounded-xl py-[11px] px-[14px] text-center
    border border-solid w-14 h-14;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  margin: 0 !important;

  &.active {
    @apply border-[#6CE9A6] bg-success-50;
  }

  &:not(&.active) {
    @apply border-gray-200;
  }
}
